bcrypt==3.1.7
cffi==1.14.0
click==7.1.2
dnspython==2.6.1
email-validator==1.1.1
Flask==2.3.2
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
Flask-WTF==0.14.3
gunicorn==22.0.0
idna==3.7
itsdangerous==1.1.0
Jinja2==3.1.5
MarkupSafe==1.1.1
pycparser==2.20
pymongo==4.6.3
six==1.15.0
Werkzeug==3.0.6
WTForms==2.3.1
Flask-Login==0.5.0
pymongo==4.6.3
email-validator==1.1.1