{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block head_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
<div class="title">
    <h1>Opportunity Dashboard</h1>
</div>
<div class="columns is-multiline">
    <div class="column is-three-quarters-desktop is-full-tablet">
        <div class="columns is-multiline is-centered">
            <div class="column is-half">
                <div class="post">
                    <img src="https://rafael.sirv.com/Images/htcfavicon.png?cx=60&cw=183&w=183&png.optimize=true">
                    <h2>Post title hheeh hhhe ghss</h2>
                    <p>Post description, limit of 100 characters or something</p>
                </div>
            </div>
            <div class="column is-half green">
                <h2>there</h2>
            </div>
            <div class="column is-half">
                <h2>there</h2>
            </div>
        </div>
    </div>
    <div class="column is-one-full-tablet is-one-quarter-desktop blue">
        <h2>there</h2>
    </div>
</div>
{% endblock %}