h1 {
    text-align: center;
    font-size: 6vw;
    margin: 0;
}
@media (max-width: 900px){
    h1{
        font-size: 7vw;
    }
}
@media (max-width: 600px){
    h1{
        font-size: 60px;
    }
}
@media (max-width: 400px){
    h1{
        font-size: 40px;
    }
}